.crumbs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: var(--sm-1);
}

.crumb {
  text-decoration: underline;
  text-underline-offset: var(--sm-1);
  cursor: pointer;
  opacity: 60%;
  height: 100%;
}

.crumb:hover {
  opacity: 100%;
  color: var(--or-3);
}

.active {
  text-decoration: underline;
  text-underline-offset: var(--sm-1);
  color: var(--or-1);
}
