.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  position: absolute;
  justify-content: center;
  overflow-y: hidden;
}

.search {
  background-color: var(--bk-1);
  color: var(--wt-1);
  border: 1px solid var(--gr-2);
  border-radius: var(--sm-1);
  padding: var(--sm-2);
  font-size: var(--md-1);
  box-shadow: var(--shadow);
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-top: var(--md-1);
  margin-bottom: var(--md-2);
  width: 320px;
}

.search:focus {
  outline: none;
  border-color: var(--or-1);
}

.ul {
  text-align: center;
  height: 90%;
  width: 320px;
  overflow-y: auto;
  scrollbar-color: var(--bk-2) var(--bk-3);
  position: relative;
  margin-bottom: 5rem;
  font-size: smaller;
}

.ul li {
  list-style: none;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.6;
  text-underline-offset: 0.175rem;
  margin-bottom: var(--md-1);
  color: var(--gr-2);
  cursor: pointer;
  padding: 0 var(--md-1);
}

.ul li:hover {
  color: inherit;
} 