.drop {
  width: 100%;
  max-width: 378px;
  padding: var(--md-1) var(--md-2);
  border: 1px solid var(--gr-3);
  border-radius: var(--sm-1);
  background-color: var(--bk-2);
  color: var(--wt-1);
  font-size: var(--md-1);
  cursor: pointer;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right var(--md-2) center;
  background-size: 1rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  outline: none;
}

.drop:hover {
  border-color: var(--or-1);
}

.drop:focus {
  outline: none;
  border-color: var(--gr-3);
  background-color: var(--bk-1);
}

.drop option:hover {
  background-color: var(--gr-1);
}
